USE [master]
GO
/****** Object:  Database [ats_platform_db]    Script Date: 16/07/2026 20:57:11 ******/
CREATE DATABASE [ats_platform_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ats_platform_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ats_platform_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ats_platform_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ats_platform_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ats_platform_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ats_platform_db]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 16/07/2026 20:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[dept_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[deleted_at] [datetime2](6) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[department_name] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_skills]    Script Date: 16/07/2026 20:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_skills](
	[job_id] [bigint] NOT NULL,
	[skill_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 16/07/2026 20:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[deleted_at] [datetime2](6) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[deadline] [datetimeoffset](6) NULL,
	[description] [text] NOT NULL,
	[location] [varchar](500) NULL,
	[max_salary] [numeric](15, 2) NULL,
	[min_salary] [numeric](15, 2) NULL,
	[publishedAt] [datetimeoffset](6) NULL,
	[status] [varchar](50) NULL,
	[title] [varchar](255) NOT NULL,
	[utm_medium] [varchar](150) NULL,
	[utm_source] [varchar](150) NULL,
	[department_id] [bigint] NULL,
	[job_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 16/07/2026 20:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[deleted_at] [datetime2](6) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[skill_name] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/07/2026 20:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[deleted_at] [datetime2](6) NULL,
	[is_deleted] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[department_id] [bigint] NULL,
	[email] [varchar](255) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone] [varchar](30) NULL,
	[role] [varchar](50) NULL,
	[sso_provider_id] [varchar](255) NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([dept_id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_name], [description]) VALUES (0, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), NULL, N'IT', N'Information Technology')
INSERT [dbo].[departments] ([dept_id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_name], [description]) VALUES (1, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), NULL, N'HR', N'Human Resources')
INSERT [dbo].[departments] ([dept_id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_name], [description]) VALUES (2, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6733330' AS DateTime2), NULL, N'Marketing', N'Marketing Department')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
INSERT [dbo].[job_skills] ([job_id], [skill_id]) VALUES (7, 2)
INSERT [dbo].[job_skills] ([job_id], [skill_id]) VALUES (7, 3)
GO
SET IDENTITY_INSERT [dbo].[jobs] ON 

INSERT [dbo].[jobs] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [deadline], [description], [location], [max_salary], [min_salary], [publishedAt], [status], [title], [utm_medium], [utm_source], [department_id], [job_type]) VALUES (0, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), NULL, NULL, N'Develop scalable Java enterprise applications.', N'Hanoi', CAST(2500.00 AS Numeric(15, 2)), CAST(1000.00 AS Numeric(15, 2)), NULL, N'PUBLISH', N'Java Developer', NULL, NULL, 1, NULL)
INSERT [dbo].[jobs] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [deadline], [description], [location], [max_salary], [min_salary], [publishedAt], [status], [title], [utm_medium], [utm_source], [department_id], [job_type]) VALUES (1, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), NULL, NULL, N'Build modern web frontend with React and Redux.', N'HCMC', CAST(2000.00 AS Numeric(15, 2)), CAST(800.00 AS Numeric(15, 2)), NULL, N'PUBLISH', N'React Developer', NULL, NULL, 1, NULL)
INSERT [dbo].[jobs] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [deadline], [description], [location], [max_salary], [min_salary], [publishedAt], [status], [title], [utm_medium], [utm_source], [department_id], [job_type]) VALUES (2, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6866670' AS DateTime2), NULL, NULL, N'Manage recruitment and internal HR tasks.', N'Hanoi', CAST(3000.00 AS Numeric(15, 2)), CAST(1500.00 AS Numeric(15, 2)), NULL, N'PUBLISH', N'HR Manager', NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [skill_name]) VALUES (0, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), NULL, N'Java')
INSERT [dbo].[skills] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [skill_name]) VALUES (1, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), NULL, N'Spring Boot')
INSERT [dbo].[skills] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [skill_name]) VALUES (2, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6766670' AS DateTime2), NULL, N'React')
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_id], [email], [full_name], [password_hash], [phone], [role], [sso_provider_id], [status]) VALUES (0, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), NULL, 1, N'admin@ats.org', N'Admin', N'123', N'0900000001', N'ADMIN', N'admin@ats.org', N'ACTIVE')
INSERT [dbo].[users] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_id], [email], [full_name], [password_hash], [phone], [role], [sso_provider_id], [status]) VALUES (1, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), NULL, 2, N'hr@ats.org', N'HR Executive', N'123', N'0900000002', N'HR', N'hr@ats.org', N'ACTIVE')
INSERT [dbo].[users] ([id], [created_at], [created_by], [deleted_at], [is_deleted], [updated_at], [updated_by], [department_id], [email], [full_name], [password_hash], [phone], [role], [sso_provider_id], [status]) VALUES (2, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), N'System', NULL, 0, CAST(N'2026-06-16T02:38:28.6800000' AS DateTime2), NULL, 1, N'dev@ats.org', N'Dev User', N'123', N'0900000003', N'USER', N'dev@ats.org', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKqyf2ekbfpnddm6f3rkgt39i9o]    Script Date: 16/07/2026 20:57:11 ******/
ALTER TABLE [dbo].[departments] ADD  CONSTRAINT [UKqyf2ekbfpnddm6f3rkgt39i9o] UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIX_NAME]    Script Date: 16/07/2026 20:57:11 ******/
CREATE NONCLUSTERED INDEX [UNIX_NAME] ON [dbo].[departments]
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKrewou7lxwq4y55rniw2okd3mi]    Script Date: 16/07/2026 20:57:11 ******/
ALTER TABLE [dbo].[jobs] ADD  CONSTRAINT [UKrewou7lxwq4y55rniw2okd3mi] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 16/07/2026 20:57:11 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdu5v5sr43g5bfnji4vb8hg5s3]    Script Date: 16/07/2026 20:57:11 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKdu5v5sr43g5bfnji4vb8hg5s3] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKqxi40kcs18ps74e5xbt34g5o]    Script Date: 16/07/2026 20:57:11 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKqxi40kcs18ps74e5xbt34g5o] UNIQUE NONCLUSTERED 
(
	[sso_provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_UN_NAME]    Script Date: 16/07/2026 20:57:11 ******/
CREATE NONCLUSTERED INDEX [U_UN_NAME] ON [dbo].[users]
(
	[full_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[job_skills]  WITH CHECK ADD  CONSTRAINT [FK1gb74tysr9vkypwivvvovxq1f] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
GO
ALTER TABLE [dbo].[job_skills] CHECK CONSTRAINT [FK1gb74tysr9vkypwivvvovxq1f]
GO
ALTER TABLE [dbo].[job_skills]  WITH CHECK ADD  CONSTRAINT [FKe10ho7um0atjm67b9dgokmfyx] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[job_skills] CHECK CONSTRAINT [FKe10ho7um0atjm67b9dgokmfyx]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FKt27140un7et9j2mqcevbh4shk] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([dept_id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FKt27140un7et9j2mqcevbh4shk]
GO
USE [master]
GO
